.add-record-btn {
    position: fixed;
    top: 60%;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(64, 181, 255, 0.4);
    transition: all 0.3s;
}
.add-record-btn:hover {
    background-color: #45a049;
}
