.add-record-btn {
    position: fixed !important;
    bottom: 1px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #389e0d; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    z-index: 9999 !important;
    transition: background-color 0.3s, transform 0.2s;
}


