.header {
    text-align: center;
    color: #389e0d;
    padding:  0 20px;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 5px;
    font-weight: 800;
}

.header p {
    font-size: 1.2rem;
}

@media (max-width: 768px) {}